svg {
    color: rgb(91, 62, 44);
}
img{
    max-width: 100%;
    max-height: 100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    display: block; /* remove extra space below image */
}
#settings-icon{
    top:1rem;
}
#settings-icon img{
    transform: scale(3);
}
#body {
    background-color: rgb(255, 243, 225);
}
#header{
    background-color: inherit;
    height: 8rem;
}
#logo{
    background-color: inherit;
    height: 6rem;
    top:1rem;
    left:3%;
}
#game-body{
    background-color: inherit;
    height:480px;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
}
#game-canvas{
    border: 5px solid brown;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
    width: 640px;
    height: 480px;
}